# Ignore everything
*

# Allow directories (so .tf files inside are not blocked)
!*/

# Keep terraform files
!*.tf

# Keep documentation
!.gitignore
!README.md

# Ignore Terraform state and cache
*.tfstate
*.tfstate.*
.terraform/
.terraform.*
.terraform.lock.hcl

# Ignore variable files
*.tfvars

# Ignore sensitive files
*.pem
*.key
*.crt
*.cer
*.der
*.pfx
*.p12
*.jks
